---
const { author, authorJob, authorCompany, authorProfilePicture } = Astro.props
---

<div class="w-full flex justify-center">
  <div class="w-24 h-24 rounded-full bg-light -mt-12">
    <img src={authorProfilePicture} alt={authorProfilePicture} class="rounded-full">
  </div>
</div>
<div class="w-full flex justify-center">
  <div class="flex flex-col">
    <div class="flex justify-center">{author}</div>
    <div class="not-italic font-normal text-xs">
      {authorJob}, <span
        class="font-semibold text-gray-600 italic"
        >{authorCompany}</span
      >
    </div>
  </div>
</div>