---
import PostTitle from "../components/PostTitle.astro";
import samplePic from "../assets/samplePic.jfif";
// import sampleProfile from "../assets/sampleProfile.png";
// import { Image, Picture } from "@astrojs/image/components";
import ProfileCard from "../components/ProfileCard.astro";

const { frontmatter } = Astro.props;
---

<section>
  <div id="title-container" class="p-8 flex justify-center bg-stone-700">
    <div class="w-3/4 max-w-3/4 p-8 relative">
      <div>
        <PostTitle text={frontmatter.title} />
        <div
          class="w-full absolute -bottom-1/2 flex flex-col justify-center align-center left-0 px-8"
        >
          <img
            id="title-image"
            src={samplePic}
            alt="samplePic"
            class="w-full object-cover rounded-lg"
          />
          <ProfileCard author={frontmatter.author} authorJob={frontmatter.authorJob} authorCompany={frontmatter.authorCompany} />
      </div>
    </div>
    </div>
  </div>
</section>

<section class="pt-40">
  <div class="p-8 flex justify-center">
    <div class="w-3/4 max-w-3/4 px-24 text-sm">
      <slot />
    </div>
  </div>
</section>

<style>
  #title-container {
    height: 425px;
  }

  #title-image {
    height: 300px;
  }
</style>
